:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #47464e;
  background-color: #FFF5E4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Navbar */

nav {
  background-color: #FF9494;
  color: #FFF5E4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav--logo {
  height: 40px;
  width: auto;
  max-width: 100px;
  padding: 0 10px;
}

/* Body */

h1 {
  font-size: 2.2em;
}

a {
  font-weight: 500;
  color: #FF9494;
  text-decoration: inherit;
}
a:hover {
  color: #FF9494;
}

/* Cards */

.cards-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  width: 600px;
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  padding: 30px 0;
  border-top: 1px solid #FFE3E1;
}

.card--image {
  width: 35%;
  margin: 0 15px;
  border-radius: 10px;
}

.card--location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card--link {
  text-decoration: underline;
  color: #FF9494;
  padding: 0 15px;
}

/*
.card--info {
  display: flex;
  align-items: center;
  margin: 3px 0;
} */

.card--description {
  text-align: left;
}

.card p {
  margin: 3px 0;
}

.card--pointer {
  height: 14px;
}

/* Footer */

footer {
  background-color: #FFD1D1;
  color: #FFF5E4;
  padding: 15px 0;
  margin-top:auto;
}
